<div class="input select">
    <div class="btn-group bootstrap-select form-control show-tick dropup">
        <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" data-id="fund_categ" title="ADP Schemes" aria-expanded="false">
            <span class="filter-option pull-left">ADP Schemes</span>&nbsp;
            <span class="bs-caret"><span class="caret"></span></span></button>
        <div class="dropdown-menu open" style="max-height: 245px; overflow: hidden; min-height: 92px;">
            <ul class="dropdown-menu inner" role="menu" style="max-height: 235px; overflow-y: auto; min-height: 82px;">
                <li data-original-index="0" class=""><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Select Fund Cateogry</span>
                        <span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="1" class="">
                            <a tabindex="0" class="" style="" data-tokens="null">
                                <span class="text">Grant in aid
                                </span>
                                <span class="glyphicon glyphicon-ok check-mark">
                                    
                                </span>
                            </a>
                        </li>
                        <li data-original-index="2" class="selected"><a tabindex="0" class="" style="" data-tokens="null">
                                <span class="text">ADP Schemes</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                <li data-original-index="3"><a tabindex="0" class="" style="" data-tokens="null">
                                        <span class="text">Grant in aid</span>
                                        <span class="glyphicon glyphicon-ok check-mark">
                                            
                                        </span>
                                    </a>
                                </li>
            </ul>
        </div>
                                        
        <select name="Applies[fund_category_id]" class="form-control show-tick" id="fund_categ" tabindex="-98">
            <option value="">Select Fund Cateogry</option><option value="1">Grant in aid</option><option value="2">ADP Schemes</option><option value="6">Grant in aid</option></select></div></div>